/*page 03*/
.btnSignUpBig{
    width: 100%;
    position: relative;
    text-align: center;
}


.btnBig{
    height: 100%;
    position: absolute;
    top: 0;
    /*left: 55%; top: 50%;
    transform: translate(-50%, -50%); */
    border: 0;
    outline: 0;
    background: none;
    overflow: hidden;
}

.bigImg{
    margin: 0 auto !important; 
    margin-top:-100% !important; 
}

.searchBox,.tabButton{
    padding:3% 0;
}

.searchBox{
    display:block;
    width:100%;
    height:60px;
    overflow:hidden;
}

.searchInput{
    width:50%;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
    outline:0;
    height:100%;
    float:right;
}

.searchButton{
    margin-left:-10px;
    height:100%;
    float:right;
    background:none;
    outline:0;
    border:0;
    vertical-align:middle;
}

.tabButton{
    text-align:center;
    width:100%;
}

.tabButton .new,.rank{
    text-align:center;
    width:48%;
    display:inline-block;
}

.tabButton button{
    background:none;
    text-align:center;
    width:60%;
    outline:0;
    border:0;
}

.listContainer{
    list-style:none;
    width:100%;
    height:auto;
}

.listContainer ul,.listContainer ul li{
    list-style:none;
    width:100%;
    margin:0; padding:0;
}

.listContainer ul li{
    padding:3% 0;
}

.listTable{
    width:100%;
    height:auto;
    border:#89BDE1 2px solid;
    text-align:left;
}

.listTable tr,.listTableHead,.listTableTheme,.listTableDescription{
    width:100%;
    height:auto;
}

.listTable td{
    padding:1%;
}

.listTable .listTableHead{
    background:#B4D1E1;
    font-weight:normal;
}

.listTable .listTableHead td{
    border-bottom:#89BDE1 2px solid;
}

.listTable .listTableHead td:not(:last-child){
    border-right:#89BDE1 2px solid;
}

.listTable .listTableTheme td{
    border-bottom:#ddd 2px solid;
}

.pagelist{
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
}

.pagelist span{
    display: inline-block;
    padding: 1% 2%;
    margin: 0 1%;
    background: #68AEDA;
    color: #fff;
    text-align: center;
}

.pagelist span:hover{
    background: #108DC5;
    cursor: pointer;
}

.pagelist .currentPage{
    background: #108DC5;
}

/*page 05-09*/
.textInput{
    padding: 3% 0 3% 0;
    text-align: left;
}


.textInputBox{
    width: 100%;
    text-align: center;
    height: auto;
}

.textInputTable,.textContentTable{
    display: table;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    outline: 0;
    margin:0;
    padding:0;
}

.textInputTable tr,.textContentTable tr{
    width:100%
}

.textInputTable{
    background:#B3D6EC ;
    border: #3AB4DA 2px solid;
    -webkit-border-radius:  20px 20px 0 0;
    -moz-border-radius:  20px 20px 0 0;
    border-radius: 20px 20px 0 0;
}

.textContentTable{
    margin-top:-2px;
    background:#fff;
    border: #A0A0A0 2px solid;
    border-top: #3AB4DA 2px solid;
    -webkit-border-radius:  0 0 20px 20px;
    -moz-border-radius:  0 0 20px 20px;
    border-radius: 0 0 20px 20px ;
}

.textInputTableHead,.textInputTableDescription{
    width: 100%;
}

.textInputTableDescription td{
    padding: 3%;
}

.textInputTableDescription label{
    vertical-align:top;
}

.textInputTableTheme{
    width: 70%;
    padding-left:3%;
}

.textInputTableName{
    width: 20%;
    color: #fff;
    padding-left:1%;
    padding-right:3%;
    vertical-align:middle;
}

.textInputTableLike{
    width: 8%;
    background: url("../img/like.png") no-repeat center;
    background-size: 90% auto;
    border-left: 2px solid #3AB4DA;
}

/*.textInputHeader{*/
    /*margin: 0;*/
    /*padding: 0 3%;*/
    /*background-color: #B3D6EC;*/
    /*border: 1px solid #25B4E1;*/
    /*-webkit-border-radius: 20px 20px 0 0;*/
    /*-moz-border-radius: 20px 20px 0 0;*/
    /*border-radius: 20px 20px 0 0;*/
    /*z-index: 99;*/
/*}*/

/*.InputTitle,.ticketNum{*/
    /*display: inline-block;*/
/*}*/

/*.InputTitle span,.InputTitle input,.ticketNum span,.ticketNum img{*/
    /*display: inline-block;*/
    /*padding: 3% 0;*/
    /*line-height: 26px;*/
/*}*/

/*.textInputTitle{*/
    /*width: 50%;*/
    /*outline: 0;*/
    /*border: 0;*/
    /*background: #B3D6EC;*/
/*}*/

/*.ticketNum{*/
    /*width: auto;*/
    /*border-left: 1px solid #25B4E1;*/
/*}*/

/*.ticketNum span{*/
    /*color: #ffffff;*/
/*}*/

.imgTicketNum{
    width: 100%;
    height: auto;
}

/*.textInputContent{*/
    /*margin-top: -1px;*/
    /*padding: 0 3% 3%;*/
    /*background-color: #fff;*/
    /*border: 1px solid #ddd;*/
    /*-webkit-border-radius: 0 0 20px 20px;*/
    /*-moz-border-radius: 0 0 20px 20px;*/
    /*border-radius:0 0 20px 20px;*/
    /*z-index: 98;*/
/*}*/

/*.textInputContent span{*/
    /*float: left;*/
/*}*/

.textInputContentArea{
    width: 80%;
    height: 200px;
    outline: 0;
    border:0;
    resize : none;
}

.vote,.warning{
    padding: 3% 0;
    text-align: center;
}

.Ijoin,.backToCreate,.SignUpAgain,.spread,.submit,.confirm,.create{
    text-align: center;
}

.btnVote,.btnIjoin,.btnBackToCreate,.btnSignUpAgain,.btnSubmit,.btnConfirm,.btnCreate{
    background: none;
    width: 40%;
    height: auto;
    border: 0;
    outline: 0;
}

.btnSpread{
    background: none;
    padding: 3% 0;
    width: 10%;
    height: auto;
    border: 0;
    outline: 0;
}

.warning p{
    color: #E71E8D;
}

.attention p{
    padding:3% 0;
    color: #E71E8D;
    text-align:left;
}

/*page 10*/
.bg10{
    position:fixed;
    height:100%;
    width:100%;
    display:table;
    text-align:center;
}
.follow{
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}

.follow img{
    margin:0 auto;
   vertical-align:middle;
   text-align:center;
}


/*page15*/
.bg15{
    background-color:#FFF5E9;
    margin-top:10%;
    position:fixed;
    height:90%;
    width:100%;
    display:table;
    text-align:center;
}

/*page4*/
.fold{
    display:none;
}
.open{
    display:block;
}

.signUpForm{
}

.signUpTable{
    width:100%;
    height:auto;
    border:0;
    outline:0;
}

.signUpTable tr{
    width:100%;
    height:auto;
    display:table;
    margin:3% 0;
}

.labelTd{
    width:24.3333333333333%;
}

.textTd{
    width:75%;
}

.textTd input,.textTd select,.textTd textarea{
    box-sizing: border-box;
    width:90%;
     padding: 3% 0;
     background-color: #fff;
     border: 1px solid #ddd;
     -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius:4px;
     outline:0;
}

.createTypeOption{
    padding: 3%;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    outline:0;
}

.textTd textarea{
    height: 200px;
    outline: 0;
    border:0;
    resize : none;
     border: 1px solid #ddd;
}


.textTd:after{
    content:url("../img/neccessary.png");
}

.warningDialog{
    display:table;
    margin:0 auto;
    position:fixed;
    left:0;
    right:0;
    top:50%;
    background-color:#FEF5E9;
    width:70%;
    height:20%;
    padding:5%;
    border-top:#0586C7 30px solid;
    border-bottom:#0586C7 20px solid;
    z-index:999;
    -webkit-box-shadow: #666 0px 0px 10px;
    -moz-box-shadow: #666 0px 0px 10px;
    box-shadow: #666 0px 0px 10px;
    -webkit-border-radius:4px;
     -moz-border-radius:4px;
     border-radius:4px;
     vertical-align:middle;
}

.dialogContent{
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}


/*responsive*/
@media screen and (min-width: 1025px){
    p,span,input,select,textarea{
        font-size: 26px;
    }

}



@media screen and (max-width: 1024px){
    p,span,input,select,textarea{
        font-size: 16px;
    }

    .textInputHeader{
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
    }
    .textInputContent{
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        border-radius:0 0 10px 10px;

    }
    .textInputContentArea{
        width: 80%;
        height: 100px;
        outline: 0;
        border:0;
        resize : none;
    }

    .textTd textarea{
        height: 100px;
    }

    .signUpTable p, .signUpTable span,.signUpTable input,.signUpTable select,.signUpTable textarea,.textInputTable span,.textInputTable label,
    .textContentTable span,.textContentTable label,.textInputContentArea{
        font-size:12px
    }

    .listTable label,.listTable span{
        font-size:26px
    }
}
